body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-bgcolor);
    font-family: 'Poppins', sans-serif;

}

:root {
    --body-bgcolor: rgb(248 250 252);
    --color-card-input: #F97316;
    --color-bg-card: white;

    --text-color-seg: rgb(100 116 139);
    --box-shawdow-card: rgba(37, 37, 37, 0.5);
    --box-shadow-botton: rgba(230, 125, 34, 0.463);

    --text-secundario: rgb(251, 251, 251);
}

#container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    margin: 0;

    padding: 0;
}

.collum1 {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    align-items: center;

}

.titulo {
    margin-top: 50px;
    margin-left: 70px;

}

.titulo h1 {
    margin-bottom: 0;
    color: var(--color-card-input);
    font-weight: 700;
}

.titulo p {
    margin: 0;
    color: var(--text-color-seg);

}

.input_task {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-card);
    padding: 1rem 2.5rem 1.9rem;
    border-radius: 12px;
    box-shadow: 0px 0px 2px var(--box-shawdow-card);

    position: sticky;
    top: 30px;
    margin-left: 129px;
}

.novatask {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input_task .novatask h2 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

.cicle {
    color: var(--color-card-input);

}

.input_task label {
    color: var(--text-color-seg);
    font-size: 0.75rem;
    font-weight: 500;
}

input[type="text"],
input[type="date"] {

    width: 246px;
    border-radius: 8px;
    border: 1px solid #d9d9d976;
    background-color: #F8FAFC;
    padding: 16px;
    font-size: 17px;
    margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="date"]:focus {
    border-color: var(--color-card-input);
    box-shadow: 0 0 10px 4px rgba(230, 125, 34, 0.463);
    outline: none;
}

input[type='text']::placeholder {
    color: #9aa0a6;
}

.Submit_Task {
    background-color: var(--color-card-input);
    border: none;
    border-radius: 8px;
    color: var(--text-secundario);
    cursor: pointer;
    width: 278px;
    padding: 16px;
    transition: all 0.95s ease;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 12px 20px rgba(0, 0, 0, 0.15);
    margin-top: 10px;




}

.Submit_Task:hover {
    transform: translateY(-3px);
    box-shadow:
        0 0 10px 5px var(--box-shadow-botton),
        0 8px 20px rgba(189, 105, 105, 0.15);
}

.collum2 {
    flex: 1.2;
    display: flex;
    flex-direction: column;

}

.title_List {
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
    align-items: center;

}

.title_List h2 {
    font-size: 20px;
}

#contador {
    padding: 9px 15px 9px;
    background-color: #E2E8F0;
    border-radius: 12px 5px 5px 12px;
    font-size: 11px;
    font-weight: bold;

}

.task_zero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    align-items: center;
    margin-top: 50px;


}

.task_zero p {
    color: #9aa0a6;

}

.clipboar {
    font-size: 120px;
    color: #9aa0a6;
}

.card_task {
    background-color: var(--color-bg-card);
    max-width: 70%;
    padding: 20px;
}




.listContainer {
    display: flex;
    background-color: var(--color-bg-card);
    border-radius: 18px;
    box-shadow: 0px 0px 1px var(--box-shawdow-card);
    max-width: 70%;

    margin-bottom: 10px;




}


.coluna1_task {
    display: flex;
    flex: 2;
    width: 80%;
    padding: 0 25px 0;
    flex-direction: column;

}

.info {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5px;
    width: 90%;
    margin-top: 10px;

}

.info h3 {
    margin-top: 0;
    font-size: 15px;
    font-weight: 600;
    color: rgba(21, 35, 57, 0.844);
}

.info .statuss {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 4px;
    border-radius: 50px;


}

.completed {
    color: #50bb99;
    background-color: #d1fae5bb;
}

.noCompleted {
    color: rgba(217, 119, 6, 0.647);
    background-color: rgba(236, 138, 27, 0.248);
}

.datas {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity, 1));
    margin-top: 0;
    font-size: 14px;

}


.coluna2 {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 25px;
    gap: 10px;
}

.completo {
    text-decoration: line-through;
    opacity: 0.6;
    /* opcional, deixa mais visual de concluído */
}

.nocompleto_botton {
    background-color: #50bb99;
    width: 50px;
    height: 40px;
    border: none;
    color: #F8FAFC;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 2.9s ease;
}

.nocompleto_botton:active {
    transform: scale(0.95);
}

.completo_botton {
    background-color: #e8f3ff;
    width: 50px;
    height: 40px;
    border: none;
    color: #6A7B90;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 1.1s ease;

}

.delete {
    background-color: #FFF1F2;
    width: 50px;
    height: 40px;
    border: none;
    color: #F40045;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 2.9s ease;
}

.delete:hover {
    background-color: #F43F5E;
    color: white;
}

.coluna2 button {
    margin-bottom: 10px;
}

@media(max-width:1177px) {
    .title_List {
        margin-left: 50px;
        max-width: 95%;
    }
}

@media(max-width:945px) {
    .title_List {

        max-width: 85%;
    }
}

@media(max-width:899px) {
    #container {
        flex-direction: column;

    }

    .titulo {
        margin-left: 4px;

        margin-top: 10px;

    }

    .titulo h1 {

        text-align: center;
    }

    .collum1 {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }



    .input_task {
        width: 80%;
        padding: 20px;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        position: static;
        top: 0;
    }

    input[type="text"],
    input[type="date"] {

        width: 95%;


        padding: 16px;


    }

    .Submit_Task {
        width: 100%;
    }

    .title_List {
        margin-left: 10px;
        max-width: 93%;
    }

    .title_List h2 {
        font-size: 20px;
        margin-left: 0;
    }

    .task_zero {

        max-width: 95%;


    }





    #list {
        display: flex;
        justify-content: center;
        flex-direction: column;

        align-items: center;
    }

    .listContainer {
        max-width: 90%;
        height: 101px;
        width: 86%;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    .info {
        align-items: center;
        justify-content: center;
        gap: 2px;
        margin-top: 0;
        padding: 0;
    }

    .info h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 10px;


    }

    .info .statuss {
        font-size: 12px;
        margin-top: 10px;

        border-radius: 50px;


    }



    .datas {
        text-align: center;

        margin-top: 5px;
        font-size: 14px;
    }


    .coluna2 {
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 25px;
        gap: 10px;
    }



}

@media(max-width:499px) {


    .titulo {
        justify-content: start;
        align-items: start;

    }

    .titulo h2 {
        margin-left: 0;
    }

    .titulo p {
        max-width: 3901px;
    }




    .input_task {
        width: 80%;
        padding: 20px;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }

    input[type="text"],
    input[type="date"] {

        width: 85%;


        padding: 16px;
    }

    .Submit_Task {
        width: 95%;
    }

    .title_List {
        margin-left: 10px;
        max-width: 93%;
    }

    .title_List h2 {
        font-size: 20px;
        margin-left: 0;
    }

    .task_zero {

        max-width: 95%;


    }

}